{% extends 'base.html.twig' %}

{% block title %}Fiche contact{% endblock %}

{% block body %}
<h1 class="text-center pt-2">Fiche contact</h1>
<div class="row">
            <div class="card mb-3 container">
                <h4 class="card-header">{{ LeContact.nom}} {{LeContact.prenom}}</h4>
                <div class="row">
                    <div class="col-2 d-flex align-items-center">
                    <img class = "avatar mx-auto my-3 " style = "height = auto; max-width: 200px; display : block;"  src="{{ LeContact.avatar }}" alt="">
                    </div>
                    <div class="col">
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{LeContact.rue}}</li>
                        <li class="list-group-item">{{LeContact.cp}}</li>
                        <li class="list-group-item">{{LeContact.ville}}</li>
                        <li class="list-group-item">{{LeContact.mail}}</li>
                        <li class="list-group-item">
                            {% if LeContact.sexe == 0 %}
                                <span class="badge badge-info">Homme</span>
                            {% else %}
                                <span class="badge badge-info">Femme</span>
                            {% endif %}
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
            <a href="{{path('contacts')}}" class="btn btn-primary btn-block text-center">Retour</a>
</div>

{% endblock %}
